
body {
  /* background-color: rgb(180, 255, 255); */
  background: linear-gradient(#F0FFFF,#B4FFFF,#F0FFFF);;
  font-weight: normal;
}

.App {
  text-align: center;
}

nav {
  height: 75px;
  padding: 0;
  box-shadow: 0 2px 10px #cfcfcf;
  /* box-shadow: 0 2px 10px #afafaf; */
  color: #0814bd;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  flex-wrap: wrap;
  /* #007bff */
}

nav h1 {
  flex: 2;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav h3 {
  display: flex;
  align-items: center;
  flex: 1;
  font-weight: normal;
}

nav h2 {
  flex: 1;
}

.company {
  justify-self: flex-end;
}

nav ul {
  flex: 1;
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  margin: 0;
  height: 100%;
}

nav div {
  flex: 1;
}

a {
  text-decoration: none;
  border-bottom: 4px solid #ffffff;
  border-top: 4px solid #ffffff;;
  transition: 500ms;
}

nav > ul a {
  color: #0814bd;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 0.9em;
  border-bottom: 4px solid #ffffff;
  border-top: 4px solid #ffffff;;
  transition: 500ms;
}


nav .pi {
  padding-right: 5px;
  font-size: 20px;
}

nav ul a:hover {
  background-color: rgb(180, 255, 255);
  border-top: 4px solid rgb(180, 255, 255);
  border-bottom: 4px solid #0814bd;
}

.active {
  border-bottom: 4px solid #0814bd;
}


.loginFormWrapper{
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginFormWrapper form{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px;
  box-shadow: 0 2px 10px #cfcfcf;
  /* box-shadow: 0 2px 10px #eeeeee; */
  border-radius: 4px;
  background-color: white;
}

.loginFormWrapper p {
  color: red;
  max-width: 200px;
  align-self: center;
}

.profile {
  margin-left: 30px;
  background-color: #ffffff;
  border-radius: 4px;
  height: 150px;
  aspect-ratio: 1;
  box-shadow: 0 2px 10px #cfcfcf;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.loggedIn {
  margin-top: 50px;
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr 3fr 1fr;
}

.screen-container {
  background-color: #ffffff;
  box-shadow: 0 2px 10px #cfcfcf;
  border-radius: 4px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-container form {
  display: grid;
  /* grid-template-rows: repeat(8, 1fr); */
  grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 1fr 2fr;
  gap: 10px;
  width: 50%;
  align-items: center;
}

.screen-container p {
  margin-bottom: 16px;
  color: rgb(104, 104, 104);
  text-align: center;
  width: 50%;
  border-bottom: 2px solid rgb(233, 233, 233);
  border-top: 2px solid rgb(233, 233, 233);
  padding-bottom: 5px;
}

.screen-container h2 {
  margin: 0;
}

.new-user-radio {
  display: flex;
  justify-content: space-around;
}

.new-user-radio > div {
  display: flex;
  gap: 10px;
}


.kontenerDoKart{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 20px;
}


.karta{
  margin: auto;
  transform: 200ms;
}

div.p-card.p-component {
  width: 15rem;
  height: 22rem; 
  border-radius: 10px; 
}

.karta img {
  border-radius: 10px 10px 0 0;
}

div.p-card {
  box-shadow: 0 2px 5px #b1b1b1;
  transition: 200ms;
}

div.p-card:hover {
  box-shadow: 0 2px 15px #c3c3c3;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #b6b6b6; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #929292; 
}


.podkont{
  margin-left: -60%;
}

.kalendarz{
  margin-left: -40%;
}

div.p-card-body{
  display: inline;
  flex-direction: column;
}

.p-card-title{
  font-size: 1.3em !important;
  padding-left: 15px;
  padding-right: 15px;
  height: 70px;
  text-align: center;
  padding: 30px 0;
}


p.m-0{
  padding-left: 24px;
  padding-right: 24px;
}


.p-knob-text{
  font-size: 1.1rem !important;
}

.p-button.p-component{
  margin: 3px !important;
}

.kontenerDoPracy{
  display: flex;
  flex-direction: row;
  align-items: center;
}


.pracaA{
  flex:1;
  margin-left: 25px;
  margin-right: 25px;
  width: 500px;
  height: 100%;
}
.pracaB{
  margin-top: 15px;
  font-size: larger;
}

.p-datepicker table td.p-datepicker-today > span {
  background: #007bff!important;
  color: #ffffff!important;
}


.p-datepicker-group{
  border: 0;
  border-style: none;
  width: 500px;
}

.p-datepicker-calendar{
  border: 0;
  border-style: none;
}

.name{
  font-size: 1.7em;
}

.remaining {
  margin-left: 140px;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}